@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0; }

::-moz-selection {
  background-color: #E8505B;
  color: #fff; }

::selection {
  background-color: #E8505B;
  color: #fff; }

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a,
a:hover,
a:focus {
  text-decoration: none; }

a,
button {
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  a:focus,
  button:focus {
    outline: 0; }

.title-border {
  position: relative; }
  .title-border::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 70px;
    height: 1px;
    background: #222222; }

section {
  padding-bottom: 120px; }

.section {
  padding-top: 120px !important;
  padding-bottom: 80px !important; }

.stretched-link {
  color: #222222;
  display: inline-block;
  -webkit-transition: .4s;
  transition: .4s; }
  .stretched-link:hover {
    color: #E8505B; }

/*  typography */
body {
  line-height: 1.7;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #777777;
  overflow-x: hidden; }

p,
.paragraph {
  font-weight: 400;
  color: #777777;
  font-size: 16px;
  line-height: 1.7;
  font-family: "PT Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #222222; }

h1,
.h1 {
  font-size: 50px;
  line-height: 65px; }

@media (max-width: 575.98px) {
  h1, .h1 {
    font-size: 26px;
    line-height: 40px; } }
@media (min-width: 576px) and (max-width: 768px) {
  h1, .h1 {
    font-size: 44px;
    line-height: 58px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  h1, .h1 {
    font-size: 40px;
    line-height: 50px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1, .h1 {
    font-size: 43px;
    line-height: 50px; } }
h2,
.h2 {
  font-size: 26px; }

@media (max-width: 575.98px) {
  h2, .h2 {
    font-size: 20px; } }
h3,
.h3 {
  font-size: 23px;
  line-height: 34px;
  font-weight: 400; }

@media (max-width: 575.98px) {
  h3, .h3 {
    font-size: 17px;
    line-height: 27px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  h3, .h3 {
    font-size: 21px;
    line-height: 30px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  h3, .h3 {
    font-size: 19px;
    line-height: 30px; } }
h4,
.h4 {
  font-size: 20px;
  font-weight: 700; }

h5,
.h5 {
  font-size: 18px;
  font-weight: 700; }

h6,
.h6 {
  font-size: 16px;
  font-weight: 700; }

.fixd-manu {
  background-color: #F6F6F6 !important;
  position: fixed !important;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px; }

.fixd-manu ul li {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.navigation {
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-transition: .4s;
  transition: .4s; }
  .navigation .search-btn {
    position: relative; }
    .navigation .search-btn .form-control {
      width: 280px;
      border: 2px solid #DEDBDC;
      border-radius: 0rem;
      height: 42px;
      color: #999999; }
      .navigation .search-btn .form-control:focus {
        -webkit-box-shadow: none;
                box-shadow: none; }
    .navigation .search-btn .btn {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .navigation .search-btn .btn i {
        font-size: 15px;
        position: relative; }
        .navigation .search-btn .btn i::after {
          width: 0.5px;
          height: 18px;
          background: #DEDBDC;
          position: absolute;
          left: -15px;
          top: -1px;
          content: ""; }
      .navigation .search-btn .btn:focus {
        -webkit-box-shadow: none;
                box-shadow: none; }
  .navigation ul li {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-transition: .4s;
    transition: .4s; }
    .navigation ul li:hover .sub-menu {
      opacity: 1;
      visibility: visible; }
    .navigation ul li a {
      padding-left: 22px !important;
      padding-right: 22px !important;
      color: #222222 !important;
      font-size: 15px;
      -webkit-transition: .4s;
      transition: .4s; }
      .navigation ul li a:hover {
        color: #E8505B !important; }
    .navigation ul li .active {
      color: #E8505B !important; }
    .navigation ul li .sub-menu {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      right: 0%;
      visibility: hidden;
      width: 200px;
      background: #fff;
      opacity: 0;
      text-align: left;
      -webkit-box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1);
              box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1);
      border-top: 3px solid #E8505B;
      -webkit-transition: .4s;
      transition: .4s; }
      .navigation ul li .sub-menu li {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0; }
        .navigation ul li .sub-menu li:first-child {
          padding-top: 14px; }
        .navigation ul li .sub-menu li:last-child {
          padding-bottom: 14px; }
        .navigation ul li .sub-menu li a {
          display: block; }
  .navigation select {
    margin-top: 11px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    background: transparent;
    border: 0; }
  .navigation .navbar-toggler {
    padding: 20px 0; }
  .navigation .navbar-toggler:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }
  .navigation .dropdown-menu {
    border-radius: 0px;
    padding: 25px 0 !important; }
  .navigation .dropdown-toggle::after {
    display: none; }
  .navigation .dropdown-item:focus,
  .navigation .dropdown-item:hover {
    color: #E8505B;
    background-color: transparent; }

@media (max-width: 575.98px) {
  .navigation .navber {
    padding: 20px 0 !important; }
    .navigation .navber .navbar-toggler i {
      margin-top: 10px !important; }
    .navigation .navber .navbar-toggler:focus {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .navigation ul {
    background: #F6F6F6 !important;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: 30px; }
    .navigation ul li {
      margin-top: 0;
      margin-bottom: 0; }
      .navigation ul li a {
        padding: 0px 0px 30px 0 !important; }
  .navigation .from-area {
    position: relative;
    top: -80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; }
  .navigation .dropdown-menu {
    border-top: 3px solid #E8505B !important;
    border-radius: 0px !important;
    margin-top: -15px;
    background: #fff !important; }
    .navigation .dropdown-menu li a {
      padding: 0 0 15px 0 !important; } }
@media (min-width: 576px) and (max-width: 768px) {
  .navigation .navber {
    padding: 20px 0 !important; }
    .navigation .navber .navbar-toggler i {
      margin-top: 10px !important; }
    .navigation .navber .navbar-toggler:focus {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .navigation ul {
    background: #F6F6F6 !important;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 65px;
    margin-top: 30px; }
    .navigation ul li {
      margin-top: 0;
      margin-bottom: 0; }
      .navigation ul li a {
        padding: 0px 0px 30px 0 !important; }
      .navigation ul li .dropdown-menu {
        border-top: 3px solid #E8505B !important;
        border-radius: 0px !important;
        margin-top: -15px;
        background: #fff !important; }
        .navigation ul li .dropdown-menu li a {
          padding: 0 0 15px 0 !important; }
  .navigation .from-area {
    position: relative;
    top: -80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .navigation .navbar-toggler {
    margin-top: 15px;
    margin-right: 0px;
    font-size: 30px;
    padding-bottom: 25px; }

  .navigation .navber {
    padding: 20px 0 !important; }
    .navigation .navber .navbar-toggler i {
      margin-top: 10px !important; }
    .navigation .navber .navbar-toggler:focus {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .navigation ul {
    background: #F6F6F6 !important;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px; }
    .navigation ul li {
      margin-top: 0;
      margin-bottom: 0; }
      .navigation ul li a {
        padding: 0px 0px 30px 0 !important; }
      .navigation ul li .dropdown-menu {
        border-top: 3px solid #E8505B !important;
        border-radius: 0px !important;
        margin-top: -15px;
        background: #fff !important; }
        .navigation ul li .dropdown-menu li a {
          padding: 0 0 15px 0 !important; }
  .navigation .from-area {
    position: relative;
    top: -60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navigation ul li a {
    padding-left: 15px !important;
    padding-right: 15px !important; } }
.hero-area {
  background-color: #F6F6F6 !important;
  background: url(../images/banner.png) center no-repeat;
  background-size: cover;
  padding-top: 125px;
  padding-bottom: 259px; }

h1 strong {
  font-weight: 700;
  position: relative;
  display: inline-block; }
  h1 strong::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #222222;
    right: -110px;
    top: 52%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

@media (max-width: 575.98px) {
  .hero-area img {
    display: block;
    margin: 0 auto; }

  h1 {
    text-align: center;
    margin-top: 30px; }
    h1 strong::after {
      display: none; } }
@media (min-width: 576px) and (max-width: 768px) {
  .hero-area img {
    display: block;
    margin: 0 auto; }

  h1 {
    margin-top: 30px; }
    h1 strong::after {
      width: 40px;
      right: -70px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  h1 strong::after {
    right: 0 !important;
    top: 80px !important; } }
.hero-area-bottom {
  margin-top: -175px; }

.slider-item {
  margin: 0 15px;
  padding-bottom: 30px; }
  .slider-item img {
    width: 100%; }
  .slider-item .img {
    position: relative; }
  .slider-item .badge {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 15px; }

.text {
  background-color: #fff;
  width: 90%;
  padding: 25px;
  margin: 0 auto;
  margin-top: -30px;
  position: relative;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.122);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.122); }
  .text .slider-title {
    color: #222222;
    -webkit-transition: .4s;
    transition: .4s; }
    .text .slider-title:hover {
      color: #E8505B; }
  .text ul li {
    margin-top: 30px;
    margin-right: 6px;
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #D7D7D7;
    font-size: 13px; }
    .text ul li a {
      display: inline-block;
      color: #777777;
      -webkit-transition: .4s;
      transition: .4s; }
      .text ul li a:hover {
        color: #E8505B; }
    .text ul li:last-child {
      border: 0; }

.left-arrow {
  position: absolute;
  left: -80px;
  top: 34%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  color: #E8505B;
  font-size: 15px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid transparent;
  cursor: pointer; }
  .left-arrow:hover {
    border: 1px solid #E8505B; }

.right-arrow {
  position: absolute;
  right: -80px;
  top: 34%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  color: #E8505B;
  font-size: 15px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid transparent;
  cursor: pointer; }
  .right-arrow:hover {
    border: 1px solid #E8505B; }

@media (max-width: 575.98px) {
  .text ul li {
    margin-top: 20px;
    margin-right: 3px;
    padding-right: 4px;
    font-size: 10px; }

  .slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .slick-dots li {
      display: inline-block;
      margin-right: 10px; }
      .slick-dots li button {
        font-size: 0;
        border: 1px solid #E8505B !important;
        background: transparent;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 0; }
    .slick-dots .slick-active button {
      background: #E8505B; } }
@media (min-width: 576px) and (max-width: 768px) {
  .slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .slick-dots li {
      display: inline-block;
      margin-right: 10px; }
      .slick-dots li button {
        font-size: 0;
        border: 1px solid #E8505B !important;
        background: transparent;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 0; }
    .slick-dots .slick-active button {
      background: #E8505B; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .left-arrow {
    left: -25px;
    top: 39%;
    font-size: 13px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }

  .right-arrow {
    top: 39%;
    right: -25px;
    font-size: 13px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }

  .text ul li {
    margin-top: 25px;
    margin-right: 4px;
    padding-right: 6px;
    font-size: 13px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .left-arrow {
    left: -22px !important;
    font-size: 13px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }

  .right-arrow {
    right: -22px !important;
    font-size: 13px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }

  .text ul li {
    margin-top: 20px;
    margin-right: 3px;
    padding-right: 3px;
    font-size: 12px; } }
.catagorys .card {
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid transparent !important; }
  .catagorys .card .card-body {
    padding: 21px 0; }
    .catagorys .card .card-body i {
      color: #E8505B;
      padding-bottom: 15px;
      font-size: 32px; }
      .catagorys .card .card-body i:last-child {
        font-size: 15px;
        padding-bottom: 0; }
    .catagorys .card .card-body a {
      color: #222222; }
  .catagorys .card .last-item {
    padding: 33px 0; }
  .catagorys .card:hover i {
    opacity: .7; }
  .catagorys .card:hover a {
    color: #E8505B !important; }
  .catagorys .card:hover {
    border: 1px solid #E8505B !important; }

#recent-news {
  padding-bottom: 120px; }

.news-image {
  margin-right: -30px; }

.news-text {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.122);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.122);
  margin-left: -30px; }
  .news-text ul li {
    margin-top: 30px;
    margin-right: 6px;
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #D7D7D7; }
    .news-text ul li a {
      display: inline-block;
      color: #777777;
      -webkit-transition: .4s;
      transition: .4s; }
      .news-text ul li a:hover {
        color: #E8505B; }
    .news-text ul li:last-child {
      border: 0; }

@media (max-width: 575.98px) {
  .news-text {
    margin-left: 0px; }

  .news-text {
    padding: 15px; }
    .news-text ul li {
      margin-top: 10px;
      margin-right: 3px;
      padding-right: 5px;
      font-size: 13px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .news-text {
    margin-left: 0px;
    margin-top: -50px; }

  .news-text ul li {
    margin-top: 20px !important; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .title h3 {
    margin-left: 30px; }

  .news-text {
    margin-left: 0px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .news-text {
    padding: 20px; }
    .news-text h2 {
      font-size: 22px; }

  .news-text ul li {
    margin-top: 10px; } }
.pagination .prevnext {
  width: 100px;
  height: 40px;
  background: transparent;
  text-align: center;
  line-height: 40px;
  color: #222222;
  border-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s; }
  .pagination .prevnext:hover {
    background: #F4F4F4; }
.pagination ul {
  margin: 0 20px; }
  .pagination ul li {
    display: inline-block; }
    .pagination ul li a {
      display: inline-block;
      color: #222222;
      -webkit-transition: .4s;
      transition: .4s;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .pagination ul li a:hover {
        background: #E8505B;
        color: #fff; }
.pagination .prev {
  font-size: 14px;
  margin-right: 5px; }
.pagination .nex {
  margin-left: 5px;
  font-size: 14px; }
.pagination .next {
  background: #F4F4F4; }

@media (max-width: 575.98px) {
  .pagination .h5 {
    font-size: 15px !important; }
  .pagination ul {
    margin: 0 0px;
    text-align: center; }
    .pagination ul li a {
      margin: 0 0px;
      width: 35px;
      height: 35px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .pagination ul li a {
    margin: 0 5px; } }
footer {
  background-color: #F6F6F6 !important; }
  footer .footer-logo {
    display: inline-block;
    margin-bottom: 10px; }
  footer .links li a {
    color: #222222;
    font-size: 15px;
    font-weight: 700;
    padding: 0 10px; }
    footer .links li a:hover {
      color: #E8505B !important; }
  footer .socal-icon li a {
    display: inline-block;
    margin-right: 15px; }
    footer .socal-icon li a i {
      width: 38px;
      height: 38px;
      border: 1px solid #E8505B !important;
      color: #E8505B;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 18px;
      -webkit-transition: .4s;
      transition: .4s; }
      footer .socal-icon li a i:hover {
        color: #fff;
        background: #E8505B;
        border: 1px solid #E8505B !important; }
  footer p {
    line-height: 1.4; }

@media (min-width: 576px) and (max-width: 768px) {
  footer .socal-icon li a {
    margin-right: 0px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  footer .socal-icon li a {
    margin-right: 0px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  footer .socal-icon li a {
    margin-right: 0px; } }
@media (max-width: 575.98px) {
  section {
    padding-bottom: 60px; } }
.about-hero-area {
  position: relative;
  z-index: 2;
  padding-top: 120px; }
  .about-hero-area::after {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    background-color: #f8f8f8;
    z-index: -2;
    top: 0;
    left: 0; }
  .about-hero-area .background_shape {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1; }
  .about-hero-area .hero-area-text {
    margin-top: -50px; }
    .about-hero-area .hero-area-text p {
      font-size: 16px;
      line-height: 1.7; }

@media (max-width: 575.98px) {
  .about-hero-area {
    padding: 100px 0 0px 0; }
    .about-hero-area .hero-area-text {
      margin-top: 0px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .about-hero-area {
    padding: 100px 0 0px 0; }
    .about-hero-area .hero-area-text {
      margin-top: 0px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .about-hero-area {
    padding: 100px 0 50px 0; }
    .about-hero-area .hero-area-text {
      margin-top: 0px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-hero-area .hero-area-text {
    margin-top: 140px !important; }
    .about-hero-area .hero-area-text h1 {
      font-size: 40px; } }
.experiences {
  background-color: #F6F6F6;
  padding: 80px 150px;
  position: relative; }
  .experiences .block:nth-child(even)::before {
    display: none; }
  .experiences h2 {
    font-size: 42px;
    font-weight: 700; }
  .experiences .block {
    background-color: #fff;
    margin-bottom: 80px;
    padding: 25px;
    -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.122);
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.122);
    position: relative; }
    .experiences .block::before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      bottom: -60px;
      right: -82px;
      border: 4px solid #f5d6d9;
      background-color: #e8505b;
      border-radius: 50px;
      z-index: 2; }
    .experiences .block h4 {
      border-bottom: 1px solid #DEDBDC; }
    .experiences .block p {
      line-height: 1.2; }
    .experiences .block span {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #F8E3E4;
      font-size: 15px;
      color: #E8505B;
      line-height: 36px;
      text-align: center;
      position: absolute;
      right: 15px;
      bottom: 15px; }
  .experiences .experiences-item {
    position: relative; }
    .experiences .experiences-item:after {
      position: absolute;
      content: "";
      height: calc(100% + 20px);
      top: -40px;
      width: 2px;
      left: 50%;
      background-color: #e1e1e1; }
    .experiences .experiences-item::before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      top: -54px;
      left: calc(50% - 10px);
      border: 4px solid #f5d6d9;
      background-color: #e8505b;
      border-radius: 50px;
      z-index: 2; }

@media (max-width: 575.98px) {
  .experiences {
    padding: 80px 10px 0px 10px;
    margin-top: 100px; }
    .experiences .experiences-item {
      z-index: 2;
      padding: 0 15px; }
      .experiences .experiences-item::after {
        height: calc(100% + 12px);
        top: -77px;
        z-index: -1; }
      .experiences .experiences-item::before {
        top: -95px; }
    .experiences .block:nth-child(odd)::after {
      display: none; }
    .experiences .block {
      margin-bottom: 100px;
      margin-top: -50px;
      position: relative; }
      .experiences .block::before {
        bottom: -37px;
        left: calc(50% - 10px); }
      .experiences .block::after {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        bottom: -35px;
        left: calc(50% - 10px);
        border: 4px solid #f5d6d9;
        background-color: #e8505b;
        border-radius: 50px;
        z-index: 2; }
    .experiences h2 {
      font-size: 35px; }
    .experiences p {
      font-size: 13px; }
    .experiences span {
      bottom: 5px !important; } }
@media (min-width: 576px) and (max-width: 768px) {
  .experiences {
    padding: 80px 10px 0px 10px;
    margin-top: 100px; }
    .experiences .experiences-item {
      z-index: 2;
      padding: 0 40px; }
      .experiences .experiences-item::after {
        height: calc(100% + 20px);
        top: -80px;
        z-index: -1; }
      .experiences .experiences-item::before {
        top: -95px; }
    .experiences .block:nth-child(odd)::after {
      display: none; }
    .experiences .block {
      margin-bottom: 100px;
      margin-top: -50px;
      position: relative; }
      .experiences .block::before {
        bottom: -37px;
        left: calc(50% - 10px); }
      .experiences .block::after {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        bottom: -45px;
        left: calc(50% - 10px);
        border: 4px solid #f5d6d9;
        background-color: #e8505b;
        border-radius: 50px;
        z-index: 2; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .experiences {
    padding: 80px 10px 50px 10px;
    margin-top: 100px; }
    .experiences .experiences-item {
      padding: 0 30px; }
      .experiences .experiences-item::after {
        top: -20px;
        left: calc(50% - 1px);
        height: calc(100% + 15px); }
      .experiences .experiences-item::before {
        left: calc(50% - 11px);
        top: -30px; }
    .experiences .block {
      width: 48%;
      margin-bottom: 30px; }
      .experiences .block:before {
        bottom: -27px;
        right: -25px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .experiences {
    padding: 80px 44px; }

  .block::before {
    right: -85px !important; } }
.proposal h2 {
  font-size: 30px;
  font-weight: 700; }

.tools {
  background: #F6F6F6;
  padding: 80px 179px 30px 179px; }
  .tools h2 {
    font-size: 42px;
    font-weight: 700; }
  .tools .tools-icon {
    padding: 50px 0; }
    .tools .tools-icon li {
      margin-bottom: 50px; }
      .tools .tools-icon li a {
        margin: 0 20px; }

@media (max-width: 575.98px) {
  .tools {
    background: #F6F6F6;
    padding: 80px 10px 0px 10px; }
    .tools h2 {
      font-size: 30px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .tools {
    background: #F6F6F6;
    padding: 80px 10px 0px 10px; }
    .tools h2 {
      font-size: 30px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .tools {
    background: #F6F6F6;
    padding: 80px 10px 0px 10px; }
    .tools h2 {
      font-size: 30px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .tools {
    background: #F6F6F6;
    padding: 80px 70px 30px 70px; } }
.tools-list {
  -webkit-transition: .4s;
  transition: .4s; }
  .tools-list .list {
    display: block;
    padding: 12px 20px;
    margin-bottom: 5px;
    border-radius: 4px;
    color: #000;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer; }
  .tools-list .active {
    background: #E8505B;
    color: #fff; }

.tool {
  width: 40% !important; }

.filtr-container {
  margin-left: 20px; }
  .filtr-container .card {
    margin-bottom: 50px; }
    .filtr-container .card img {
      width: 100%; }

.card-body {
  -webkit-box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1) !important;
          box-shadow: 0 10px 30px rgba(68, 74, 102, 0.1) !important; }
  .card-body .card-title {
    font-weight: 600; }

.btn-transparen {
  color: #E8505B;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #E8505B;
  padding: 2px; }

.filtr-item {
  width: 49% !important; }

@media (max-width: 575.98px) {
  .filtr-item {
    width: 100% !important; }

  .filtr-container {
    margin-left: 0px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .filtr-item {
    width: 100% !important; }

  .filtr-container {
    margin-left: 0px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .filtr-item {
    width: 100% !important; }

  .filtr-container {
    margin-left: 10px; } }
#what-is-figma {
  font-size: 40px !important;
  line-height: 3;
  font-weight: 700; }

.collaboration-in-figma {
  font-size: 30px;
  line-height: 2;
  font-weight: 700; }

ol {
  list-style: block;
  margin-left: 15px; }
  ol li {
    line-height: 1.7; }

.btn-outline-primary {
  color: #E8505B;
  border-color: #E8505B;
  line-height: 25px; }
  .btn-outline-primary:hover {
    background: #E8505B;
    border-color: #E8505B; }

.contact {
  padding-top: 80px !important; }
  .contact .btn-danger {
    line-height: 2.2; }
  .contact svg {
    width: 100%; }

.contact-us {
  padding-top: 40px;
  font-size: 40px;
  font-weight: 700; }

.form-control {
  height: 43px;
  line-height: 43px; }

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #E8505B;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

textarea.form-control {
  height: 150px; }

.btn-danger:hover {
  color: #fff;
  background-color: #E8505B;
  border-color: #E8505B; }

.btn-check:focus + .btn, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.btn-check:active + .btn-danger:focus, .btn-check:checked + .btn-danger:focus, .btn-danger.active:focus, .btn-danger:active:focus, .show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

@media (max-width: 575.98px) {
  .contact svg {
    margin-top: -100px; } }
.catagory h2 {
  font-size: 40px;
  font-weight: 700; }
  .catagory h2 span {
    color: #E8505B; }
.catagory ul li {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 6px;
  display: inline-block;
  padding-right: 10px;
  border-right: 1px solid #D7D7D7;
  font-size: 16px; }
  .catagory ul li a {
    display: inline-block;
    color: #777777;
    -webkit-transition: .4s;
    transition: .4s; }
    .catagory ul li a:hover {
      color: #E8505B; }
  .catagory ul li:last-child {
    border: 0; }

@media (max-width: 575.98px) {
  .catagory ul li {
    margin-right: -1px;
    padding-right: 1px;
    font-size: 13px; } }
.creative-banner {
  background-image: url(/images/home-creative-banner.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 220px 0 0px; }
  .creative-banner h1 {
    font-weight: 700; }

/*# sourceMappingURL=style.css.map */