@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0; }

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a,
a:hover,
a:focus {
  text-decoration: none; }

a,
button {
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  a:focus,
  button:focus {
    outline: 0; }

.title h3 {
  font-weight: 700;
  position: relative; }
  .title h3::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 70px;
    height: 1px;
    background: #222222; }

.border-bottom {
  margin: 40px 0 !important; }

section {
  padding-bottom: 120px; }

/*  typography */
body {
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #777777;
  overflow-x: hidden; }

p,
.paragraph {
  font-weight: 400;
  color: #777777;
  font-size: 14px;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #222222; }

h1,
.h1 {
  font-size: 50px;
  line-height: 65px; }

@media (min-width: 320px) and (max-width: 575.98px) {
  h1, .h1 {
    font-size: 26px;
    line-height: 40px; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  h1, .h1 {
    font-size: 44px;
    line-height: 58px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  h1, .h1 {
    font-size: 40px;
    line-height: 50px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  h1, .h1 {
    font-size: 43px;
    line-height: 50px; } }
h2,
.h2 {
  font-size: 26px; }

h3,
.h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400; }

@media (min-width: 320px) and (max-width: 575.98px) {
  h3, .h3 {
    font-size: 19px;
    line-height: 27px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  h3, .h3 {
    font-size: 21px;
    line-height: 30px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  h3, .h3 {
    font-size: 19px;
    line-height: 30px; } }
h4,
.h4 {
  font-size: 20px;
  font-weight: 700; }

h5,
.h5 {
  font-size: 18px;
  font-weight: 700; }

.fixd-manu {
  background-color: #F6F6F6 !important;
  position: fixed !important;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

.navigation {
  position: fixed;
  width: 100%;
  z-index: 9999; }
  .navigation .search-btn {
    position: relative; }
    .navigation .search-btn .form-control {
      width: 280px;
      border: 2px solid #DEDBDC;
      border-radius: 0rem;
      -webkit-transition: border-color .0, -webkit-box-shadow 0;
      transition: border-color .0, -webkit-box-shadow 0;
      transition: border-color .0, box-shadow 0;
      transition: border-color .0, box-shadow 0, -webkit-box-shadow 0;
      height: 42px;
      color: #999999; }
      .navigation .search-btn .form-control:focus {
        -webkit-box-shadow: none;
                box-shadow: none; }
    .navigation .search-btn .btn {
      position: absolute;
      top: 0;
      right: 14px; }
      .navigation .search-btn .btn i {
        font-size: 13px;
        position: relative; }
        .navigation .search-btn .btn i::after {
          width: 0.5px;
          height: 18px;
          background: #DEDBDC;
          position: absolute;
          left: -15px;
          top: -3px;
          content: ""; }
      .navigation .search-btn .btn:focus {
        -webkit-box-shadow: none;
                box-shadow: none; }
  .navigation ul li a {
    padding: 50px 22px !important;
    color: #222222 !important;
    font-size: 15px;
    -webkit-transition: .4s;
    transition: .4s; }
    .navigation ul li a:hover {
      color: #E8505B !important; }

@media (min-width: 320px) and (max-width: 575.98px) {
  .navigation .navber {
    padding: 20px 0 !important; }
    .navigation .navber .navbar-toggler i {
      margin-top: 10px !important; }
    .navigation .navber .navbar-toggler:focus {
      -webkit-box-shadow: 0;
              box-shadow: 0; }
  .navigation ul {
    background: #F6F6F6 !important;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px; }
    .navigation ul li a {
      padding: 0px 0px 30px 0 !important; }
  .navigation .from-area {
    position: relative;
    top: -80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  .navigation .navber {
    padding: 20px 0 !important; }
    .navigation .navber .navbar-toggler i {
      margin-top: 10px !important; }
    .navigation .navber .navbar-toggler:focus {
      -webkit-box-shadow: 0;
              box-shadow: 0; }
  .navigation ul {
    background: #F6F6F6 !important;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px; }
    .navigation ul li a {
      padding: 0px 0px 30px 0 !important; }
  .navigation .from-area {
    position: relative;
    top: -80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .navigation .navber {
    padding: 20px 0 !important; }
    .navigation .navber .navbar-toggler i {
      margin-top: 10px !important; }
    .navigation .navber .navbar-toggler:focus {
      -webkit-box-shadow: 0;
              box-shadow: 0; }
  .navigation ul {
    background: #F6F6F6 !important;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px; }
    .navigation ul li a {
      padding: 0px 0px 30px 0 !important; }
  .navigation .from-area {
    position: relative;
    top: -80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; } }
.hero-area {
  background-color: #F6F6F6 !important;
  background: url(../images/banner.png) center no-repeat;
  background-size: cover;
  padding-top: 125px;
  padding-bottom: 259px; }

h1 span {
  font-weight: 700;
  position: relative; }
  h1 span::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #222222;
    right: -110px;
    top: 52%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

@media (min-width: 320px) and (max-width: 575.98px) {
  h1 span::after {
    width: 26px;
    right: -45px; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  h1 span::after {
    right: -100px; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  h1 span::after {
    right: -145px !important;
    top: 80px !important; } }
.hero-area-bottom {
  margin-top: -175px; }

.slider-item {
  margin: 0 15px;
  padding-bottom: 30px; }
  .slider-item img {
    width: 100%; }
  .slider-item .img {
    position: relative; }
  .slider-item span {
    position: absolute;
    background-color: #E8505B;
    top: 20px;
    right: 30px;
    width: 55px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    color: #fff; }

.text {
  background-color: #fff;
  width: 90%;
  padding: 25px;
  margin: 0 auto;
  margin-top: -30px;
  position: relative;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.122);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.122); }
  .text ul li {
    margin-top: 30px;
    margin-right: 6px;
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #D7D7D7; }
    .text ul li:last-child {
      border: 0; }

.left-arrow {
  position: absolute;
  left: -48px;
  top: 34%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  color: #E8505B;
  font-size: 15px; }

.right-arrow {
  position: absolute;
  right: -48px;
  top: 34%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  color: #E8505B;
  font-size: 15px; }

@media (min-width: 320px) and (max-width: 575.98px) {
  .text ul li {
    margin-top: 20px;
    margin-right: 3px;
    padding-right: 4px;
    font-size: 12px; }

  .slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px); }
    .slick-dots li {
      display: inline-block;
      margin-right: 10px; }
      .slick-dots li button {
        font-size: 0;
        background: #E8505B;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 0; }
    .slick-dots .slick-active button {
      background: #E8505B; } }
@media (min-width: 576px) and (max-width: 768.98px) {
  .slick-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px); }
    .slick-dots li {
      display: inline-block;
      margin-right: 10px; }
      .slick-dots li button {
        font-size: 0;
        background: #E8505B;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 0; }
    .slick-dots .slick-active button {
      background: #E8505B; } }
@media (min-width: 769px) and (max-width: 991.98px) {
  .left-arrow {
    left: -25px; }

  .right-arrow {
    right: -98.2%; }

  .text ul li {
    margin-top: 25px;
    margin-right: 4px;
    padding-right: 6px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .left-arrow {
    left: -20px;
    top: 34%; }

  .right-arrow {
    top: 34%;
    right: -98.2%; }

  .text ul li {
    margin-top: 20px;
    margin-right: 3px;
    padding-right: 4px;
    font-size: 12px; } }
.catagory-item {
  background: #fff;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.09);
  padding: 21px 48px 23px 47px; }

.ct-it {
  padding: 33px 0;
  border: 1px solid #E8505B; }

#recent-news {
  padding-bottom: 120px; }

.news-text {
  background-color: #fff;
  top: 50%;
  left: 80%;
  width: 479px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 25px;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.122);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.122); }
  .news-text ul li {
    margin-top: 30px;
    margin-right: 6px;
    display: inline-block;
    padding-right: 10px;
    border-right: 1px solid #D7D7D7; }
    .news-text ul li:last-child {
      border: 0; }

@media (min-width: 320px) and (max-width: 575.98px) {
  .news-text {
    position: static !important;
    width: 270px;
    margin: 115px auto 0 auto; }

  .news-item {
    margin-bottom: -80px; } }
.pagination .prevnext {
  width: 100px;
  height: 40px;
  background: transparent;
  text-align: center;
  line-height: 40px;
  color: #222222;
  border-radius: 5px;
  -webkit-transition: .4s;
  transition: .4s; }
  .pagination .prevnext:hover {
    background: #F4F4F4; }
.pagination ul {
  margin: 0 20px; }
  .pagination ul li {
    display: inline-block; }
    .pagination ul li a {
      display: inline-block;
      padding: 0 10px;
      color: #222222;
      -webkit-transition: .4s;
      transition: .4s;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .pagination ul li a:hover {
        background: #E8505B;
        color: #fff; }
.pagination .prev {
  font-size: 14px;
  margin-right: 5px; }
.pagination .nex {
  margin-left: 5px;
  font-size: 14px; }

footer {
  background-color: #F6F6F6 !important;
  padding: 40px 0; }
  footer .links li a {
    color: #222222;
    font-size: 15px;
    font-weight: 700;
    padding: 0 10px; }
    footer .links li a:hover {
      color: #E8505B !important; }
  footer .socal-icon li a {
    display: inline-block;
    margin-right: 15px; }
    footer .socal-icon li a i {
      width: 38px;
      height: 38px;
      border: 1px solid #E8505B !important;
      color: #E8505B;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 18px;
      -webkit-transition: .4s;
      transition: .4s; }
      footer .socal-icon li a i:hover {
        color: #222222;
        border: 1px solid #222222 !important; }

@media (min-width: 320px) and (max-width: 575.98px) {
  section {
    padding-bottom: 60px; } }

/*# sourceMappingURL=style.css.map */