.about-hero-area {
    background-color: $primary-color;
    padding: 30px 0 366px 0;
    position: relative;
    z-index: -2;
    margin-bottom: 400px !important;

    .shap {
        position: absolute;
        z-index: -1;
        transform: rotateX(-9deg);
        top: -50px;
    }

    .img {
        img {
            display: block;
        }
    }

    .hero-area-text {
        margin-top: -50px;

        p {
            font-size: 16px;
        }

        h1 {
            span {
                font-weight: 700;

                &::after {
                    display: none;

                }
            }
        }
    }

    .about-hero {
        position: absolute;
        top: 130px;
    }
}

@include mobile {
    .about-hero-area {
        padding: 30px 0 50px 0;

        margin-bottom: 0 !important;

        .hero-area-text {
            margin-top: 0px;
        }
    }

    .about-hero {
        position: static !important;
        margin-top: 60px;
    }
}

@include tablet {
    .about-hero-area {
        padding: 30px 0 50px 0;

        margin-bottom: 0 !important;

        .hero-area-text {
            margin-top: 0px;
        }
    }

    .about-hero {
        position: static !important;
        margin-top: 60px;
    }
}

@include desktop {
    .about-hero-area {
        padding: 30px 0 50px 0;

        margin-bottom: 0 !important;

        .hero-area-text {
            margin-top: 0px;
        }
    }

    .about-hero {
        position: static !important;
        margin-top: 60px;
    }
}

@include desktop-lg {
    .about-hero-area {

        margin-bottom: 345px !important;

        .hero-area-text {
            margin-top: 140px !important;

            h1 {
                font-size: 40px;
            }
        }
    }

}

// ////////////

.experiences {
    background-color: $primary-color;
    padding: 80px 150px;
    position: relative;

    h2 {
        font-size: 42px;
        font-weight: 700;
    }

    .block {
        background-color: $white;
        padding: 25px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.122);
        text-align: left;
        margin-bottom: 92px;
        width: 350px;
        position: relative;

        h4 {
            border-bottom: 1px solid $border-color;
        }

        p {
            margin-left: 14px;

        }

        span {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: #F8E3E4;
            font-size: 15px;
            color: $secondery-color;
            line-height: 36px;
            text-align: center;
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
    }

    .line-shap {
        position: absolute;
        height: 620px;
        width: 2px;
        background: #DEDBDC;
        left: 50%;
        top: 23%;

        .radius {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: rgba(232, 80, 91, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: $secondery-color;
            }

        }

        .top {
            position: absolute !important;
            top: -5px;
            left: -11px;
        }

        .medel {
            position: absolute !important;
            top: 50%;
            left: -11px;
            transform: translateY(-50%);
        }

        .bottom {
            position: absolute !important;
            bottom: -5px;
            left: -11px;
        }
    }
}

@include mobile {
    .experiences {
        padding: 80px 10px 0px 10px;
        margin-top: 100px;

        .block {
            margin-bottom: 100px;
            margin-top: -50px;
        }

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 13px;
        }

        .line-shap {
            display: none;
        }

        span {
            bottom: 5px !important;
        }
    }
}

@include tablet {
    .experiences {
        padding: 80px 10px 0px 10px;
        margin-top: 100px;

        .block {
            width: 100%;
        }

        .line-shap {
            display: none;
        }

    }
}

@include desktop {
    .experiences {
        padding: 80px 10px 0px 10px;
        margin-top: 100px;

        .block {
            width: 48%;
            margin-bottom: 30px;
        }

        .line-shap {
            display: none;
        }
    }
}

@include desktop-lg {
    .experiences {
        padding: 80px 44px;
    }
}

// /////////
.proposal {
    h2 {
        font-size: 30px;
        font-weight: 700;
    }
}

///////
.tools {
    background: $primary-color;
    padding: 80px 179px 30px 179px;

    h2 {
        font-size: 42px;
        font-weight: 700;
    }

    .tools-icon {
        padding: 50px 0;

        li {
            margin-bottom: 50px;

            a {
                margin: 0 20px;
            }
        }
    }
}

@include mobile {
    .tools {
        background: $primary-color;
        padding: 80px 10px 0px 10px;

        h2 {
            font-size: 30px;
        }
    }
}

@include tablet {
    .tools {
        background: $primary-color;
        padding: 80px 10px 0px 10px;

        h2 {
            font-size: 30px;
        }
    }
}

@include desktop {
    .tools {
        background: $primary-color;
        padding: 80px 10px 0px 10px;

        h2 {
            font-size: 30px;
        }
    }
}

@include desktop-lg {
    .tools {
        background: #F6F6F6;
        padding: 80px 70px 30px 70px;
    }
}