.creative-banner{
   background-image: url(/images/home-creative-banner.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 220px 0 0px;
    h1{
        font-weight: 700;
    }
}