.contact {
    padding-top: 80px !important;

    .btn-danger {
        line-height: 2.2;
    }

    svg {
        width: 100%;
    }
}

.contact-us {
    padding-top: 40px;
    font-size: 40px;
    font-weight: 700;
}


.form-control {
    height: 43px;
    line-height: 43px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: $secondery-color;
    outline: 0;
    box-shadow: none;
}

textarea.form-control {
    height: 150px;
}

.btn-danger:hover {
    color: #fff;
    background-color: $secondery-color;
    border-color: $secondery-color;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.btn-check:active+.btn-danger:focus,
.btn-check:checked+.btn-danger:focus,
.btn-danger.active:focus,
.btn-danger:active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: none;
}

@include mobile {
    .contact svg {
        height: 300px;
    }
}

@include tablet {
    .contact svg {
        height: 400px;
    }
    .contact-us {
        padding-top: 0px;
        margin-top: 30px;
    }
}