// hero-area 
.hero-area {
    background-color: $primary-color !important;
    background: url(../images/banner.png) center no-repeat;
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 259px;
}

h1 {
    strong {
        font-weight: 700;
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: #222222;
            right: -110px;
            top: 52%;
            transform: translateX(-50%);
        }
    }
}

@include mobile {
    .hero-area {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    h1 {
        text-align: center;
        margin-top: 30px;

        strong::after {
            display: none;
        }
    }
}

@include tablet {
    .hero-area {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    h1 {
        margin-top: 30px;

        strong::after {
            width: 40px;
            right: -70px;
        }
    }
}

@include desktop {
    h1 strong::after {
        right: 0 !important;
        top: 80px !important;
    }
}

// /////hero-area-bottom
.hero-area-bottom {
    margin-top: -175px;

    a {
        display: block;
    }
}

// .slider-item:not(:last-child) {
//     margin: 0 15px;
// }


// .slider-item:first-child {
//     margin-left: 0px;
// }
// .slider-item:last-child {
//     margin-right: 0px !important;
// }



.slider-item {
    margin: 0 15px;
    padding-bottom: 30px;

    img {
        width: 100%;
    }

    .img {
        position: relative;

    }

    .badge {
        position: absolute;
        top: 20px;
        right: 25px;
        width: 55px;
        font-weight: 700;
        font-size: 15px;

        &:hover {
            color: $white;
        }

    }
}

.text {
    background-color: $white;
    width: 90%;
    padding: 25px;
    margin: 0 auto;
    margin-top: -30px;
    position: relative;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.122);

    .slider-title {
        color: $tertiary-color;
        transition: .4s;

        &:hover {
            color: $secondery-color;
        }
    }

    ul {
        li {
            margin-right: 6px;
            display: inline-block;
            padding-right: 10px;
            border-right: 1px solid $second-border-color;
            font-size: 13px;

            a {
                display: inline-block;
                color: $text-color;
                transition: .4s;

                &:hover {
                    color: $secondery-color;
                }

            }

            &:last-child {
                border: 0;
            }
        }
    }
}

.left-arrow {
    position: absolute;
    left: -80px;
    top: 39%;
    transform: translateY(-50%);
    z-index: 9;
    color: $secondery-color;
    font-size: 15px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    transition: .4s;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        border: 1px solid $secondery-color;
        background: $primary-color;
    }
}

.right-arrow {
    position: absolute;
    right: -80px;
    top: 39%;
    transform: translateY(-50%);
    z-index: 9;
    color: $secondery-color;
    font-size: 15px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    transition: .4s;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        border: 1px solid $secondery-color;
        background: $primary-color;
    }
}

@include mobile {
    .text {
        ul {
            li {
                margin-top: 20px;
                margin-right: 3px;
                padding-right: 4px;
                font-size: 10px;
            }
        }
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        li {
            display: inline-block;
            margin-right: 10px;

            button {
                font-size: 0;
                border: 1px solid $secondery-color !important;
                background: transparent;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 0;
            }
        }

        .slick-active button {
            background: $secondery-color;
        }
    }
}

@include tablet {
    .slick-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        li {
            display: inline-block;
            margin-right: 10px;

            button {
                font-size: 0;
                border: 1px solid $secondery-color !important;
                background: transparent;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 0;
            }
        }

        .slick-active button {
            background: $secondery-color;
        }
    }
}

@include desktop {
    .left-arrow {
        left: -25px;
        top: 39%;
        font-size: 13px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .right-arrow {
        top: 39%;
        right: -25px;
        font-size: 13px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .text {
        ul {
            li {
                margin-top: 25px;
                margin-right: 4px;
                padding-right: 6px;
                font-size: 13px;
            }
        }
    }
}

@include desktop-lg {
    .left-arrow {
        left: -22px !important;
        font-size: 13px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;

    }

    .right-arrow {
        right: -22px !important;
        font-size: 13px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .text {
        ul {
            li {
                margin-top: 20px;
                margin-right: 3px;
                padding-right: 3px;
                font-size: 12px;
            }
        }
    }
}

// ////////////////catagorys


.categorys {
    .card {
        
        transition: .4s;
        
        a {
            border: 1px solid transparent !important;

            display: inline-block;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.122);
            transition: .4s;
            padding: 21px 0;
            
        }

        h4 {
            margin-bottom: 0;
        }

        i {
            color: $secondery-color;
            padding-bottom: 15px;
            font-size: 32px;
            &:last-child{
                padding-top: 15px;
                font-size: 18px;
            }
        }

        &:hover a h4 {
            color: $secondery-color !important;
        }

        &:hover i {
            opacity: .7;
        }

        &:hover a{
            border: 1px solid red !important;
        }
      
    }
}





// //// recent-news
#recent-news {
    padding-bottom: 120px;
}

.news-image {
    margin-right: -30px;

}

.news-text {
    background-color: $white;
    padding: 30px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.122);
    margin-left: -30px;

    .h3 {
        color: $tertiary-color;
        display: inline-block;
        transition: .4s;

        &:hover {
            color: $secondery-color;
        }
    }

    ul {
        li {
            margin-top: 30px;
            margin-right: 6px;
            display: inline-block;
            padding-right: 10px;
            border-right: 1px solid $second-border-color;

            a {
                display: inline-block;
                color: $text-color;
                transition: .4s;

                &:hover {
                    color: $secondery-color;
                }

            }

            &:last-child {
                border: 0;
            }
        }
    }
}

@include mobile {
    .news-text {

        margin-left: 0px;
    }

    .news-text {
        padding: 15px;

        ul {
            li {
                margin-top: 10px;
                margin-right: 3px;
                padding-right: 5px;
                font-size: 13px;
            }
        }
    }

}

@include tablet {

    .news-text {

        margin-left: 0px;
        margin-top: -50px;
    }

    .news-text ul li {
        margin-top: 20px !important;

    }


}

@include desktop {
    .title h3 {
        margin-left: 30px;
    }

    .news-text {

        margin-left: 0px;
    }

}

@include desktop-lg {
    .news-text {
        padding: 20px;

        h2 {
            font-size: 22px;
        }
    }

    .news-text ul li {
        margin-top: 10px;

    }


}

// //////pagination
.pagination {
    .prevnext {
        width: 100px;
        height: 40px;
        background: transparent;
        text-align: center;
        line-height: 40px;
        color: $tertiary-color;
        border-radius: 5px;
        transition: .4s;

        &:hover {
            background: $pagination-bg;

        }
    }

    ul {
        margin: 0 20px;

        li {
            display: inline-block;

            a {
                display: inline-block;
                color: $tertiary-color;
                transition: .4s;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: $secondery-color;
                    color: $white;
                }
            }
        }
    }

    .prev {
        font-size: 14px;
        margin-right: 5px;
    }

    .nex {
        margin-left: 5px;
        font-size: 14px;

    }

    .next {
        background: $pagination-bg;

    }
}

@include mobile {
    .pagination {
        .h5 {
            font-size: 15px !important;
        }

        ul {
            margin: 0 0px;
            text-align: center;

            li a {
                margin: 0 0px;
                width: 35px;
                height: 35px;
            }
        }


    }
}

@include tablet {
    .pagination ul li a {
        margin: 0 5px;
    }
}

// /// footer
footer {
    background-color: $primary-color !important;

    .footer-logo {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 30px;
    }

    .links {
        li {
            a {
                color: $tertiary-color;
                font-size: 15px;
                font-weight: 700;
                padding: 0 10px;

                &:hover {
                    color: $secondery-color !important;
                }
            }
        }
    }

    .socal-icon {
        .list-inline-item:not(:last-child) {
            margin-right: 15px;
        }
        li {

            a {
                display: inline-block;


                i {
                    width: 38px;
                    height: 38px;
                    border: 1px solid $secondery-color !important;
                    color: $secondery-color;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    transition: .4s;

                    &:hover {
                        color: $white;
                        background: $secondery-color;
                        border: 1px solid $secondery-color !important;

                    }
                }
            }
        }

    }

    p {
        line-height: 1.4;
    }
}

@include mobile {
    .footer-logo {
        margin-right: 0px !important;
    }
}

@include tablet {
    .footer-logo {
        margin-right: 0px !important;
    }

    footer .socal-icon li a {
        margin-right: 0px;
    }
}

@include desktop {
    .footer-logo {
        margin-right: 0px !important;
    }

    footer .socal-icon li a {
        margin-right: 0px;
    }
}

@include desktop-lg {
    footer .socal-icon li a {
        margin-right: 0px;
    }

}

@include mobile {
    section {
        padding-bottom: 60px;
    }
}