.fixd-manu {
    background-color: $primary-color !important;
    position: fixed !important;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.fixd-manu ul li {
    margin-top: 10px !important;
    margin-bottom: 10px !important;

}

.navigation {
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: .4s;

    .search-btn {
        position: relative;

        .form-control {
            width: 280px;
            border: 2px solid $border-color;
            border-radius: 0rem;
            transition: border-color .0, box-shadow 0;
            height: 42px;
            color: $input-text-color;

            &:focus {
                box-shadow: none;
            }
        }

        .btn {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);

            i {
                font-size: 15px;
                position: relative;

                &::after {
                    width: 0.5px;
                    height: 18px;
                    background: $border-color;
                    position: absolute;
                    left: -15px;
                    top: -1px;
                    content: "";
                }
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    ul {
        li {
            position: relative;
            margin-top: 25px;
            margin-bottom: 25px;
            transition: .4s;

            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }

            a {
                padding-left: 22px !important;
                padding-right: 22px !important;
                color: $tertiary-color !important;
                font-size: 15px;
                transition: .4s;

                &:hover {
                    color: $secondery-color !important;
                }
            }

            .active {
                color: $secondery-color !important;
            }

            .sub-menu {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                right: 0%;
                visibility: hidden;
                width: 200px;
                background: $white;
                opacity: 0;
                text-align: left;
                box-shadow: 0 10px 30px rgba(68, 74, 102, .1);
                border-top: 3px solid $secondery-color;
                transition: .4s;

                li {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    margin: 0;

                    &:first-child {
                        padding-top: 14px;
                    }

                    &:last-child {
                        padding-bottom: 14px;
                    }

                    a {
                        display: block;

                    }
                }
            }
        }
    }

    select {
        margin-top: 11px;
        margin-left: 15px !important;
        margin-right: 15px !important;
        background: transparent;
        border: 0;
    }

    .navbar-toggler {
        padding: 20px 0;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    .dropdown-menu {
        border-radius: 0px;
        padding: 25px 0 !important;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
        color: $secondery-color;
        background-color: transparent;
    }
}

@include mobile {
    .navigation {
        .navber {
            padding: 20px 0 !important;

            .navbar-toggler {
                i {
                    margin-top: 10px !important;
                }
            }

            .navbar-toggler:focus {
                box-shadow: 0;
            }
        }

        ul {
            background: $primary-color !important;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 60px;
            margin-top: 30px;

            li {
                margin-top: 0;
                margin-bottom: 0;

                a {
                    padding: 0px 0px 30px 0 !important;
                }
            }
        }

        .from-area {
            position: relative;
            top: -80px;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .dropdown-menu {
            border-top: 3px solid $secondery-color !important;
            border-radius: none !important;
            margin-top: -15px;
            background: $white !important;


            li {
                a {
                    padding: 0 0 15px 0 !important;

                }
            }
        }
    }
}

@include tablet {
    .navigation {
        .navber {
            padding: 20px 0 !important;

            .navbar-toggler {
                i {
                    margin-top: 10px !important;
                }
            }

            .navbar-toggler:focus {
                box-shadow: 0;
            }
        }

        ul {
            background: $primary-color !important;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 65px;
            margin-top: 30px;

            li {
                margin-top: 0;
                margin-bottom: 0;

                a {
                    padding: 0px 0px 30px 0 !important;
                }

                .dropdown-menu {
                    border-top: 3px solid $secondery-color !important;
                    border-radius: none !important;
                    margin-top: -15px;
                    background: $white !important;

                    li {
                        a {
                            padding: 0 0 15px 0 !important;

                        }
                    }
                }


            }
        }

        .from-area {
            position: relative;
            top: -80px;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
}

@include desktop {

    .navigation .navbar-toggler {
        margin-top: 15px;
        margin-right: 0px;
        font-size: 30px;
        padding-bottom: 25px;
    }

    .navigation {
        .navber {
            padding: 20px 0 !important;

            .navbar-toggler {
                i {
                    margin-top: 10px !important;
                }
            }

            .navbar-toggler:focus {
                box-shadow: 0;
            }
        }

        ul {
            background: $primary-color !important;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-top: 30px;

            li {
                margin-top: 0;
                margin-bottom: 0;

                a {
                    padding: 0px 0px 30px 0 !important;
                }

                .dropdown-menu {
                    border-top: 3px solid $secondery-color !important;
                    border-radius: none !important;
                    margin-top: -15px;
                    background: $white !important;

                    li {
                        a {
                            padding: 0 0 15px 0 !important;

                        }
                    }
                }
            }
        }

        .from-area {
            position: relative;
            top: -60px;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        // .navbar-toggler {
        //     font-size: 30px;
        //     padding-bottom: 25px;
        // }
    }
}

@include desktop-lg {
    .navigation {
        ul {
            li {
                a {
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                }
            }
        }
    }
}