.tools-list {
    transition: .4s;
    .list {
        display: block;
        padding: 12px 20px;
        margin-bottom: 5px;
        border-radius: 4px;
        color: #000;
        transition: .4s;
    }

     .active {
        background: $secondery-color;
        color: $white;
    }

}

.tool{
    width: 40% !important;
}


.card{
    margin-bottom: 50px;
}
.card-body {
    box-shadow: 0 10px 30px rgba(68, 74, 102, .1) !important;

    .card-title {
        font-weight: 600;
    }
}

.btn-transparen {
    color: $secondery-color;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $secondery-color;
    padding: 2px
}
