// tools
.tools-list {
    transition: .4s;
    top:110px;
    .list {
        display: block;
        padding: 12px 20px;
        margin-bottom: 5px;
        border-radius: 4px;
        color: #000;
        transition: .4s;
        cursor: pointer;
    }

    .active {
        background: $secondery-color;
        color: $white;
    }

}


.filtr-container{
    margin-left: 20px;
    .card {
        margin-bottom: 50px;
        img{
            width: 100%;
        }
    } 
}   
.card-body {
    box-shadow: 0 10px 30px rgba(68, 74, 102, .1) !important;

    .card-title {
        font-weight: 600;
    }
}

.btn-transparen {
    color: $secondery-color;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $secondery-color;
    padding: 2px
}

.filtr-item {
    width: 49% !important;
}


@include mobile {
    .filtr-item {
        width: 100% !important;
    }
    .filtr-container{
    
        margin-left: 0px;
    }  
}

@include tablet {
    .filtr-item {
        width: 100% !important;
    }
    .filtr-container{
        margin-left: 0px;
    }  
}

@include desktop {
    .filtr-item {
        width: 100% !important;
    }
    .filtr-container{
        margin-left: 10px;
    }  
}